/*GENERAL STYLES*/
body {

}

/*HEADER STYLES*/
header {
    width: 100%;
    background-color: #fadada;
}

/*MAIN STYLES*/
main {
    width: 100%;
    background-color: #8a8a8a;
}

/*FOOTER STYLES*/
footer {
    width: 100%;
    background-color: #fadada;
    
}

footer p {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

footer ul { 
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 300%;
}

footer i {
    color: #4a4a4a;
}

/*MEDIA QUERIES*/
/*Landscape Phones*/
@media screen and (min-width: 576px) {

}

/*Tablets*/
@media screen and (min-width: 768px) {

}

/*Laptops*/
@media screen and (min-width: 992px) {

}

/*Desktops*/
@media screen and (min-width: 1200px) {

}