/*WILDCARD STYLES*/
* {
    /*Overwriting browser defaults*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**********GENERAL STYLES**********/
body {
    /*ensuring the site always takes up the max screen height of the device*/
    min-height: 100vh;
}

h1, h2, h3{
    /*making all header text uppercase*/
    text-transform: uppercase;
    text-align: center;
}

.hidden {
    /*A class to hide elements if necessary*/
    display: none;
}

/**********HEADER STYLES**********/
header {
    width: 100%;
    background-color: #daf8fa;
    display: flex;
    /*keeping header fixed to the top of the page*/
    position: fixed;
    top: 0;
    left: 0;
    /*keeping header positioned above other elements*/
    z-index: 10;
}

header a {
    /*Removing default blue color from navigation links and the link underline*/
    color: inherit;
    text-decoration: none;
}

.header-nav-bar {
    /*removing bullet points and recentering list items*/
    list-style-type: none;
    padding-left: 0;
}

.current-page{
    /*highlighting which of the 3 nav menu items the user is currently in with an underline*/
    border-bottom: 1px solid #3a3a3a;
}

nav {
    /*Positioning the hidden nav box to appear beneath the header*/
    position: absolute;
    background-color: #daf8fa;
    width: 100%;
    left: 0;
    padding: 10px;
    display: none;
    top: 100%;
}

#nav-menu-toggle:checked~nav {
    /*displaying the hidden nav menu when the nav checkbox is selected*/
    display: block;
}

#nav-menu-toggle {
    /*hidinig the  nav menu when the nav checkbox is deselected*/
    display: none;
}

.nav-menu-label {
    /*styling size and position of the burger icon for the nav menu checkbox*/
    font-size: 25px;
    padding: 10px;
    margin-left: 80%;
}

nav ul{
    /*spacing the 3 nav menu items*/
    display: flex;
    justify-content: space-evenly;
}

nav li {
    font-size: 20px;
}

/**********MAIN STYLES***********/
main {
    /*pushing main content below the header*/
    margin-top: 49px;
    /*using flex box properites to ensure main section grows to required space, doesn't shrink, and fills horizontal space*/
    display: flex;
    flex: 1, 0, auto;
    /*pushing each flex item below the next by using columns*/
    flex-direction: column;
    background: url("../images/ripples-exterior-view.webp") no-repeat center center/cover;
}

.landing,
.about-us,
.our-food {
    width: 100%;
    position: relative;
    margin: 10px 0;
}

.landing-text,
.about-us-text,
.our-food-text {
    background-color: rgba(218, 248, 250, 0.7);
    border-radius: 20px;
    text-align: center;
    color: #3a3a3a;
    width: 80%;
    min-height: 100px;
    margin: 0 auto;
    padding: 15px;
}

.booking-button,
.our-food-button {
    /*change height of button found here:
    https://stackoverflow.com/questions/10976700/how-to-set-the-height-of-a-button-input-element-on-webkit-browsers*/
    display: inline-block;
    height: 40px;
    width: 90%;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #b7d6d6;
}

.booking-button:hover,
.our-food-button:hover {
    background-color: #ffffff;
    /*learned from inspecting existing css buttons online*/
    cursor: pointer;
}

/**LUNCH MENU STYLES**/
.lunch,
.starters,
.mains,
.desserts {
    background-color: rgba(218, 248, 250, 0.7);
    border-radius: 20px;
    color: #3a3a3a;
    width: 80%;
    min-height: 100px;
    margin: 10px auto;
    padding: 15px;

    h2 {
        text-decoration: underline;
        margin-bottom: 5px;
    }
}

.lunch-menu li,
.dinner-menu li {
    list-style-type: none;
    padding: 4px;
}

/**BOOKING STYLES**/
#booking-form,
.contact-details{
    background-color: rgba(218, 248, 250, 0.7);
    border-radius: 20px;
    color: #3a3a3a;
    width: 80%;
    min-height: 100px;
    margin: 10px auto;
    padding: 15px;
}



/**********FOOTER STYLES**********/
footer {
    margin-top: auto;
    width: 100%;
    background-color: #daf8fa;
}

footer p {
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

footer ul { 
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 300%;
}

footer i {
    color: #4a4a4a;
}

/**********MEDIA QUERIES**********/
/*Landscape Phones*/
@media screen and (min-width: 576px) {

}

/*Tablets*/
@media screen and (min-width: 768px) {

}

/*Laptops*/
@media screen and (min-width: 992px) {

}

/*Desktops*/
@media screen and (min-width: 1200px) {

}