/*FONTS*/
/*Roboto font, sans serif, dyslexia friendly & Seaweed script -fancy title font for some flair*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Seaweed+Script&display=swap');

/*WILDCARD STYLES*/
* {
    /*Overwriting browser defaults*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**********GENERAL STYLES**********/
body {
    /*ensuring the site always takes up the max screen height of the device*/
    min-height: 100vh;
    max-width: 100%;
    /*Menu page had some horizontal scroll issues. Unable to figure out why. Found this fix on stack overflow*/
    /*https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll*/
    overflow-x: hidden;
    /*adding roboto font to all text content*/
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2{
    /*making all text centered*/
    text-align: center;
    /*Addiing fancy script to headers, with a fall back to dyslexiia friendly default font if it fails*/
    font-family: 'Seaweed Script', sans-serif;
    font-size: 2rem;
}

h3 {
    text-align: center;
}

.hidden {
    /*A class to hide elements if necessary*/
    display: none;
}

/**********HEADER STYLES**********/
header {
    width: 100%;
    background-color: #daf8fa;
    display: flex;
    /*keeping header fixed to the top of the page*/
    position: fixed;
    top: 0;
    left: 0;
    /*keeping header positioned above other elements*/
    z-index: 10;
}

header a {
    /*Removing default blue color from navigation links and the link underline*/
    color: inherit;
    text-decoration: none;
}

.header-nav-bar {
    /*removing bullet points and recentering list items*/
    list-style-type: none;
    padding-left: 0;
}

.current-page{
    /*highlighting which of the 3 nav menu items the user is currently in with an underline*/
    border-bottom: 1px solid #3a3a3a;
}

nav {
    /*Positioning the hidden nav box to appear beneath the header*/
    position: absolute;
    background-color: #daf8fa;
    width: 100%;
    left: 0;
    padding: 10px;
    display: none;
    top: 100%;
}

#nav-menu-toggle:checked~nav {
    /*displaying the hidden nav menu when the nav checkbox is selected*/
    display: block;
}

#nav-menu-toggle {
    /*hiding the  nav menu when the nav checkbox is deselected*/
    display: none;
}

.nav-menu-label {
    /*styling size and position of the burger icon for the nav menu checkbox*/
    font-size: 25px;
    padding: 10px;
    margin-left: 80%;
}

nav ul{
    /*spacing the 3 nav menu items*/
    display: flex;
    justify-content: space-evenly;
}

nav li {
    font-size: 20px;
}

/**********MAIN STYLES***********/
main {
    /*pushing main content below the header*/
    margin-top: 49px;
    /*using flex box properites to ensure main section grows to required space, doesn't shrink, and fills horizontal space*/
    display: flex;
    flex: 1 0 auto;
    /*pushing each flex item below the next by using columns*/
    flex-direction: column;
    background: url("../images/ripples-interior-view.webp") no-repeat center center/cover;
}

.landing,
.about-us,
.our-food {
    width: 100%;
    position: relative;
    margin: 10px 0;
}

.landing-text,
.about-us-text,
.our-food-text {
    background-color: rgba(218, 248, 250, 0.7);
    border-radius: 20px;
    text-align: center;
    color: #3a3a3a;
    width: 80%;
    min-height: 100px;
    margin: 0 auto;
    padding: 15px;
    font-size: 1rem;
}

.booking-menu-button,
.our-food-button {
    /*change height of button found here:
    https://stackoverflow.com/questions/10976700/how-to-set-the-height-of-a-button-input-element-on-webkit-browsers*/
    display: inline-block;
    height: 40px;
    width: 90%;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #b7d6d6;
}

.booking-menu-button:hover,
.our-food-button:hover {
    background-color: #ffffff;
    /*learned from inspecting existing css buttons online*/
    cursor: pointer;
}

/**LUNCH MENU STYLES**/

.lunch-menu,
.dinner-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lunch,
.starters,
.mains,
.desserts {
    background-color: rgba(218, 248, 250, 0.7);
    border-radius: 20px;
    color: #3a3a3a;
    width: 80%;
    min-height: 100px;
    margin: 10px auto;
    padding: 15px;

    
}

.lunch h2,
.starters h2,
.mains h2,
.desserts h2 {
    text-decoration: underline;
    margin-bottom: 5px;
}

.lunch-menu li,
.dinner-menu li {
    list-style-type: none;
    padding: 4px;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.lunch-menu img,
.starters-image img,
.mains-image img,
.desserts-image img {
    height: 250px;
    width: 250px;
    border-style: double;
    border-radius: 50%;
    border-color: rgba(218, 248, 250, 0.7);
    margin: 10px 5rem;
}

/**BOOKING STYLES**/
#booking-form,
.contact-details{
    background-color: rgba(218, 248, 250, 0.7);
    border-radius: 20px;
    color: #3a3a3a;
    width: 80%;
    min-height: 100px;
    margin: 10px auto;
    padding: 15px;
    font-size: 1rem;
}

.input-fields{
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.booking-buttons{
    background-color: #b7d6d6;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;
}

.booking-buttons:hover {
    background-color: #ffffff;
    /*learned from inspecting existing css buttons online*/
    cursor: pointer;
}

/**********FOOTER STYLES**********/
footer {
    margin-top: auto;
    width: 100%;
    background-color: #daf8fa;
}

footer p {
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

footer ul { 
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 300%;
}

footer i {
    color: #4a4a4a;
}

/**********MEDIA QUERIES**********/
/*Landscape Phones*/
@media screen and (min-width: 576px) {
    /**BOOKING STYLES**/
    #booking-form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/*Tablets*/
@media screen and (min-width: 768px) {
    main {
        background: url("../images/ripples-interior-view.webp") no-repeat center center/cover;
    }

    .landing-text,
    .about-us-text,
    .our-food-text{
        font-size: 1.25rem;
        padding: 15px 45px;
    }

    .booking-menu-button,
    .our-food-button {
    height: 60px;
    width: 30%;
    margin: 15px;
    padding: 5px;
    font-size: 1rem;
    }

    .lunch-menu,
    .dinner-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

    .lunch,
    .starters,
    .mains,
    .desserts {
        width: 45%;
    }

    .starters {
        order: 1;
    }

    .mains {
        order: 2;
    }

    .desserts {
        order: 5;
    }

    .mains-image {
        order: 3;
    }

    .desserts-image {
        order: 4;
    }

    .lunch-menu li,
    .dinner-menu li {
    list-style-type: none;
    padding: 4px;
    font-size: 1.25rem;
    text-align: center;
    }

    #booking-form,
    .contact-details{
    font-size: 1.25rem;
    }

    .booking-buttons{
        width: 30%;
    }

}

/*Laptops*/
@media screen and (min-width: 992px) {
    nav {
        /*Positioning and revealing the nav box on larger screens*/
        position: absolute;
        background-color: #daf8fa;
        width: 100%;
        left: 0;
        top: 100%;
        display: block;
    }

    .nav-menu-label{
        /*Hiding burger menu on larger screens*/
        display: none;
    }

    main {
        /*pushing main content below the header*/
        margin-top: 44px;
    }

    .landing-text,
    .about-us-text,
    .our-food-text,
    .lunch,
    .starters,
    .mains,
    .desserts,
    #booking-form {
        width: 45%;
    }

    .contact-details {
        width: 25%;
    }

    .booking-menu-button,
    .our-food-button {
        width: 60%;
    }
}

/*Desktops*/
@media screen and (min-width: 1200px) {

    .landing-text,
    .about-us-text,
    .our-food-text,
    .lunch,
    .starters,
    .mains,
    .desserts,
    #booking-form {
        width: 45%;
    }

    .lunch,
    .starters,
    .mains,
    .desserts {
        margin: 10px;
    }

    .lunch-menu img,
    .starters-image img,
    .mains-image img,
    .desserts-image img {
        height: 400px;
        width: 400px;
        margin: 10px 100px;
    }
}